/* Simple Responsive Framework. */
.row {
  width: 100%;
}

/********** Large devices only **********/
@media (min-width: 1200px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
    border: 1px solid green;
  }
  .col-lg-1 {
    width: 8.33%;
  }
  .col-lg-2 {
    width: 16.66%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-4 {
    width: 33.33%;
  }
  .col-lg-5 {
    width: 41.66%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-7 {
    width: 58.33%;
  }
  .col-lg-8 {
    width: 66.66%;
  }
  .col-lg-9 {
    width: 74.99%;
  }
  .col-lg-10 {
    width: 83.33%;
  }
  .col-lg-11 {
    width: 91.66%;
  }
  .col-lg-12 {
    width: 100%;
  }
}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
    border: 1px solid green;
  }
  .col-md-1 {
    width: 8.33%;
  }
  .col-md-2 {
    width: 16.66%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.33%;
  }
  .col-md-5 {
    width: 41.66%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-7 {
    width: 58.33%;
  }
  .col-md-8 {
    width: 66.66%;
  }
  .col-md-9 {
    width: 74.99%;
  }
  .col-md-10 {
    width: 83.33%;
  }
  .col-md-11 {
    width: 91.66%;
  }
  .col-md-12 {
    width: 100%;
  }
}

/*custom adjustments*/
section.col-lg-3.col-md-6 {
    box-sizing: border-box;
    padding: 20px;
    margin: 20px;
}

.maintitle {
    text-align: center;
}

section.col-lg-3.col-md-6 h1 {
    float: right;
    position: relative;
    bottom: 40px;
    left: 20px;
    border: 1px solid;
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 2px;
    padding-bottom: 2px;
}
section.col-lg-3.col-md-6 p{
    clear: both;
    position: relative;
    bottom: 20px;
  
}

section.col-lg-3.col-md-6 {
    background-color: #d1e4f5;
      border: 1px solid black;
}
body.nimbus-is-editor {
    font-family: fantasy;
}

.row section.col-lg-3.col-md-6:nth-child(1) h1 {
    background-color: orange;
}
.row section.col-lg-3.col-md-6:nth-child(2) h1 {
    background-color: red;
}
.row section.col-lg-3.col-md-6:nth-child(3) h1 {
    background-color: green;  
}

